.btn {
    padding:10px 20px;
    display:inline-block;
    border-radius:3px;
    background:deeppink;
    font-size:16px;
    color:white;
}
 
.btn-secondary {
    padding:20px 30px;
    font-size:22px;
}