
$btnLight: deeppink;
$btnDark: hotpink;

.btn {
    padding:10px 20px;
    display:inline-block;
    border-radius:3px;
    font-size:22px;
}

.btn-primary {
    background: $btnLight;
    color:white;
}

.btn-secondary {
    background:$btnDark;
    color:white;
}
