.btn {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 3px;
  font-size: 22px; }

.btn-primary {
  background: deeppink;
  color: white; }

.btn-secondary {
  background: hotpink;
  color: white; }
