---
---

$btnDark: deeppink;
$btnLight: lightgreen;


.btn {
    padding:10px 20px;
    display:inline-block;
    border-radius:3px;
    font-size:22px;
}
 
.btn-primary {
    background: $btnDark:;
    color:white;
}

.btn-secondary {
    background: $btnLight;
    color:white;
}